// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.big_checkbox {
  position: relative;
  transform: scale(5);
  right: 15px;
}

.link {
  padding: 10px;
  position: relative;
  padding-bottom: 7px;
}

.link div {
  position: relative;
  padding-left: 30px;
  right: 5px;
  top: -30px;
}

.openSelectedLinks {
  font-size: 20px;
}

.padded-link {
  padding: 10px;
  padding-bottom: 7px;
  padding-top: 25px;
}

.padded-link div {
  position: relative;
  padding-left: 30px;
  right: 5px;
  top: -30px;
}

.pagination {
  font-size: 40px;
  padding-bottom: 15px;
}

.pagination span {
  padding: 10px;
}
